<!doctype html>
<html lang="en">

<head>
  <title>Telecommunication Company Customer Churn Prediction</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="../static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="azure" data-background-color="white">
      <div class="logo">
        <a href="#0" class="simple-text logo-mini">
          WELCOME!
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" href="http://localhost:4400">
              <i class="material-icons">dashboard</i>
              <p>Home</p>
            </a>
          </li>
          <li class="nav-item active  ">
            <a class="nav-link" href="#0">
              <i class="material-icons">person</i>
              <p>Current Customers Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="http://localhost:4400/insight">
              <i class="material-icons">content_paste</i>
              <p>Insight</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Current Customers Profile</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <!-- Input Navbar -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <!-- Input Content -->
          <center>
          <h3>Current Customers Distribution Statistic</h3>
          <br>
          <br>
          <!-- Carrousel -->
          <div class="container" style="width: 800px">
            <div class="container">
              <div id="carouselExampleControls" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="10000">
                   <img src="../static/np.png" class="d-block w-100" alt="01">
                   <p>Percentage Current Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (0).png" class="d-block w-100" alt="02">
                   <p>Gender Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (1).png" class="d-block w-100" alt="03">
                   <p>Senior Citizen Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (2).png" class="d-block w-100" alt="04">
                   <p>Partner Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (3).png" class="d-block w-100" alt="05">
                   <p>Dependents Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (4).png" class="d-block w-100" alt="06">
                   <p>Phone Service Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (5).png" class="d-block w-100" alt="07">
                   <p>Multiple Lines Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (6).png" class="d-block w-100" alt="08">
                   <p>Internet Service Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (7).png" class="d-block w-100" alt="09">
                   <p>Online Security Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (8).png" class="d-block w-100" alt="10">
                   <p>Online Backup Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (9).png" class="d-block w-100" alt="11">
                   <p>Device Protection Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (10).png" class="d-block w-100" alt="12">
                   <p>Tech Support Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (11).png" class="d-block w-100" alt="13">
                   <p>Streaming TV Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (12).png" class="d-block w-100" alt="14">
                   <p>Streaming Movies Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (13).png" class="d-block w-100" alt="15">
                   <p>Contract Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (14).png" class="d-block w-100" alt="16">
                   <p>Paperless Billing Distribution in Churn Customer</p>
                  </div>
                  <div class="carousel-item" data-interval="10000">
                   <img src="../static/newplot (15).png" class="d-block w-100" alt="17">
                   <p>Payment Method Distribution in Churn Customer</p>
                  </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                 <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                 <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                 <span class="carousel-control-next-icon" aria-hidden="true"></span>
                 <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, Final Project JCDS-01 Purwadhika Bekasi by Alfarah Johantika.
          </div>
          <!-- Input Footer -->
        </div>
      </footer>
    </div>
  </div>
</body>

</html>